/* style.css */

/* Reset default browser styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 24px;
}

/* Navigation styles */
nav {
    background-color: #fff;
    width: 200px;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

nav h2 {
    color: #333;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main content styles */
main {
    padding: 20px;
    overflow: hidden;
}

section {
    background-color: #fff;
    margin-bottom: 30px;
    padding: 20px;
}

section h2 {
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.input-container, .output-container {
    display: flex;
    align-items: center;
}

.input-container span, .output-container span {
    flex: 0 0 auto;
    margin-right: 10px; /* 调整 span 元素与输入输出框之间的间距 */
}

/* 容器样式 */
.sourceCode {
    background-color: #444446; /* 背景色 */
    border-radius: 8px;       /* 圆角 */
    padding: 5px;            /* 内边距 */
    margin: 10px 0;           /* 外边距 */
    overflow-x: auto;         /* 允许水平滚动 */
  }
  
  /* 代码块样式 */
  .sourceCode pre {
    margin: 0;                /* 去除pre标签默认外边距 */
    font-family: 'Fira Code', monospace; /* 设置字体为等宽字体 */
    font-size: 14px;          /* 字体大小 */
    color: #d8dee9;           /* 文字颜色 */
  }
  
  /* 代码块中各元素的颜色 */
  .sourceCode .kw { color: #81a1c1; }  /* 关键字 */
  .sourceCode .cf { color: #88c0d0; }  /* 控制语句 */
  .sourceCode .op { color: #d08770; }  /* 运算符 */
  .sourceCode .dv { color: #ebcb8b; }  /* 常量值 */
  
  /* 链接的样式 */
  .sourceCode a {
    color: inherit;           /* 继承父元素颜色 */
    text-decoration: none;    /* 去除下划线 */
  }
  .sourceCode a:hover {
    text-decoration: underline; /* 悬停时添加下划线 */
  }